
*{
    margin: 0;
    padding: 0;
    font-family: quicksand,Futara;

}
header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 70px;
    margin-left: 10px;

}

.nav{
    list-style: none;
    display: inline-block;
    font-size: 30px;
    margin-right: 30px;
    font-weight: 100;
    
}
.row1{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7d70aa;
    padding: 15px 30px 15px 30px;
    gap: 10%;
}
.more{
    background-color: #fee101;
    border-style: hidden;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    margin-left: 50PX;
    margin-top: 50PX;
    color: #00a69c;
    font-size: 40px;
}

.row1 .col1 h1{
    color:white;
    text-align:left;
    margin-left: 30PX;

}
.col1 p{
    color:white;
    text-align:left;
    margin-left: 30PX;

}
#developer{
    max-width: 100%;
    max-height:100%;
}

.row2{
    color: #00a69c; 
    text-align: center;  
    margin: 20px;

}
.row3{
    background-color: #e0dcec;
    display: flex;
    justify-content: center;
    padding: 15px 30px 15px 30px;
    gap: 5%;

}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 10px 10px 30px 10px;
    background-color: #f1f1f1;
    margin: 30px 10px 30px 10px;
    border-radius: 10px;

}
.serviceImg{
    width: 100px;
    height: 100px;
    margin: 25px auto 5px auto;
}
.yellow{
    border-radius: 50%;
    background-color: #f0e382;
    margin:15px ;
    padding: 10px;
}
.SoftwareRow{
display:flex;
padding: 30px 20px 30px 20px;
justify-content: space-evenly;
align-items:flex-start;}

.SoftwareRow1{
    display:flex;
    padding: 30px 20px 30px 20px;
    justify-content: space-evenly;
    align-items:flex-start;

}
.innerText{
    margin: 100px 30px 20px 30px;
    font-size: 15px;
    width: 400px;
    height: 400px;
    line-height: 25px;
    

}
.SoftwareImg{
    width: 350px;
    height: 350px;
}

.FormRow{
    display: flex;
    justify-content: space-evenly;
    background-color: #28336e;
}
.Formcol1 h1{
    margin-top: 6rem;
    font-weight:bolder;
    font-size: 40px;
    color:#fff;
}
.Formcol2{
    margin-top: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 39rem;
}
.Formcol2 p{
    color: #fff;
}
.InlineBox{
    display: inline-block;
}

.InlineBox input{
display: block;
width:13.5rem;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
margin: .5rem;

}
.FormGroup input{
width: 30rem;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
margin: .5rem;

}
.FormGroup textarea{
    width: 30rem;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: .5rem;
}
.submit button{
    background-color: #fee101;
    border-style: hidden;
    border-radius: 10px;
    width: 31.5rem;
    color: #28336e;
    font-size: 30px;
    font-weight: bolder;
    margin: .5rem;

}
.FooterContent{
    background-color:#e0dcec ;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}
.FooterContent h1{
font-size: 24px;
font-weight: bolder;
color: #00a69c;

}
.FooterContent img{
max-width: 200px;
}
.WebsitePages{
    margin-left: 1rem;
}
.WebsitePages li{
    list-style: none;
    padding-left: .5rem;
    margin-top: .5rem;
    color:  #28336e;

}
.Terms li{
    list-style: none;
    padding-left: .5rem;
    margin-top: .5rem;
    color:  #28336e;


}
a{
    color: #28336e;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.ContactList{
    display: flex;
    justify-content: space-around;
    
}
.Contact i{
    margin-top: .5rem;
    color:  #28336e;
    font-size: 2rem;
}
.FooterBottom{
    background-color: #7d70aa;
    text-align: center;
    color: white;
}
    


@media only screen and (max-width: 586px) 
{
    .logo {
    height: 28px;
    }
    .row1{
        flex-wrap:wrap;
        justify-content: space-between;
        align-items: center;
        text-align:center;
    }
    .row1 .col1 h1{
        color:white;
        text-align:left;
        margin-left: 30PX;
        font-size: 20px;
            
            }
    #developer{
        display: none;

    }
    .nav{
        margin: 1px;
        font-size: 10px;
    }
    ul{
        padding: 2.5px ;
    }
    
    .more{
        width: 100px;
        height: 30px;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 0;
    }
    .row2 h1{
        font-size: 20px;
    }
    .row3{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
    .card{
        width: 170px;
        height: 150px;
    }
    .card h2{
        font-size: 15px;
    }
    .serviceImg{
        width: 50px;
        height: 50px;
        margin: 25px auto 5px auto;
    }
    .yellow{
        border-radius: 50%;
        background-color: #f0e382;
        margin:19px ;
        padding: 10px;
    }
    .SoftwareRow{
        flex-wrap: wrap;
        align-items: center;
        

    }
    .SoftwareRow1{
    align-items: center;

    }
    .SoftwareRow h2{
        font-size: 15px;
    }
    .SoftwareRow1 h2{
        font-size: 15px;
    }
    .SoftwareRow p{
        font-size: 13px;
    }
    .SoftwareRow1 p{
        font-size: 13px;
    }
    .SoftwareRow1 li{
        font-size: 13px;
    }
    .SoftwareRow li{
        font-size: 13px;
    }
    .SoftwareImg{
        width: 250px;
        height: 250px;
        margin: 10px;
    }
    .innerText{
        justify-content: space-between;
        font-size: 12px;
        margin:10px;
        padding: 0;
        line-height: normal;
        width: 270px;
        height: 150px;
        
    }

    .SoftwareRow1{
        flex-wrap: wrap-reverse;
    }

.FormRow{
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
    margin-top: .8rem;

}

    
.Formcol2{
    max-width: 16rem;
    justify-content: center;
    margin-top:1rem;
    margin-right: 0;
    margin-bottom: 0;
}
.Formcol1 h1{
    font-size: 20px;
    text-align: center;
}
.Formcol2 p{
    text-align: center;
    margin: .5rem;
    font-size: 15px;
}
.InlineBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.InlineBox input{

    display: block;
    width: 20rem;    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: .4rem;
    max-width: 200px;
    
    }
.FormGroup{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.FormGroup input{
    width: 20rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: .3rem;
    max-width: 200px;

    
    }
.FormGroup textarea{
    width: 20rem;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: .3rem;
    max-width: 200px;}

.submit button{
    background-color: #fee101;
    border-style: hidden;
    border-radius: 10px;
    width: 13.2rem;
    color: #28336e;
    font-size: 20px;
    padding: .5rem;
    font-weight: bolder;
    margin: .5rem;}
    
    .FooterContent{
        justify-content: space-around;
        padding: 0;  
    }

    .FooterContent img{
        display: none;

    }

    .WebsitePages h1{
        text-align:left;
        font-size: 12px;
    }
    .WebsitePages li{
        
        list-style: none;
        padding-left: 0;
        margin-top: .5rem;
        font-size: 10px;

    
    }
    .Terms h1{
        text-align:left;
        font-size: 12px;
    }
    .Terms li{
        list-style: none;
        padding-left: 0;
        margin-top: .5rem;
        font-size: 10px;

    }
    .Contact{
        margin-right: 1rem;
    }
    .Contact h1{
        text-align:left;
        font-size: 12px;
    }
    .ContactList i{
        font-size: 1rem;

    }
    .FooterBottom p{
        font-size: 10px;
    }


    }

    